<div>
    <h2 class="title">Media for: {{patient?.firstName}} {{patient?.lastName}} ({{patient?.patientId}})
        <span class="btn-add-media">
            <button mat-mini-fab color="accent" aria-label="New Media"
                (click)="createNewMedia();">
                <mat-icon>add</mat-icon>
            </button>
        </span>
    </h2>

    <div class="container">
        <div class="flex-container" fxLayout="row wrap" fxLayoutGap="16px">
            <mat-card class="media-card" *ngFor="let mediaItem of media" fxFlex="20">
                <img [src]="getMediaUrl(mediaItem)">
                <mat-card-content>
                    {{ mediaItem.fileName }}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
