<h1 mat-dialog-title>New Patient</h1>
<div mat-dialog-content>
  <p>Enter patient information below</p>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="patientInfo.firstName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="patientInfo.lastName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Patient ID</mat-label>
    <input matInput [(ngModel)]="patientInfo.patientId">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="patientInfo" cdkFocusInitial>Ok</button>
</div>
