<div>
    <h2 class="title">Available Patients
        <span class="btn-add-patient">
            <button mat-mini-fab color="accent" aria-label="New Patient"
                (click)="createNewPatient();">
                <mat-icon>add</mat-icon>
            </button>
        </span>
    </h2>

    <mat-table [dataSource]="patients" class="mat-elevation-z8">
        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
        </ng-container>

        <!-- Patient ID Column -->
        <ng-container matColumnDef="patientId">
            <mat-header-cell *matHeaderCellDef> Patient ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.patientId}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="selectable-row"
                [ngClass]="{'selected': selectedPatient === row }"
                (click)="selectPatient(row);"
                *matRowDef="let row; columns: displayedColumns;">
        </mat-row>

    </mat-table>
    <div class="button-container">
        <button mat-raised-button [routerLink]="['/media', selectedPatient?.uuid]" [disabled]="!selectedPatient">
            Show Media
        </button>
    </div>

</div>