// Style for table rows
.selectable-row {
    cursor: pointer;
}

.selectable-row:hover {
    background: rgba(255,255,255,.04);
}

.selectable-row.selected {
    background: rgba(255,255,255,.20);
}

.button-container {
    text-align: right;
    margin: 24px 12px;
}

.title {
    margin: 16px;
}

.btn-add-patient {
    float: right;
}